.login{
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
   /*  background-color: yellow; */
}

.loginLeft, .loginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo{
    font-size: 50px;
    font-weight: 800;
    color:#1775ee;
    margin-bottom: 10px;
}

.loginDesc{
    font-size: 24px;
}

.loginBox{
    height: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginInput{
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
    outline: none;
}

.loginBtn{
     width: 80%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    background-color: #1775ee;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    text-transform: capitalize;
}

.loginForgot{
    text-align: center;
    color: #1775ee;
    cursor: pointer;
    transition: all .4s;
}

.loginForgot:hover{
    text-decoration: underline;
}

.loginRegisterBtn{
    width: 50%;
    align-self: center;
  height: 50px;
    border-radius: 10px;
    background-color: #42b72a;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}